<launch>
  <node if="0" pkg="rosbag" type="play" name="rosbag" args="/home/nico/datasets/rovioli-e2e/V1_01_short_rovioli.bag -r 0.5"/>

  <!-- ===================================== MAPLAB NODE =========================================== -->
	<group if="0" ns="maplab_node">
		<node name="maplab_node" pkg="maplab_node" type="maplab_node" required="true" output="screen" clear_params="true">
			<param name="sensor_calibration_file" value="/home/nico/maplab_ws/src/maplab_private/applications/maplab_node/share/example_calibrations/euroc-mono.yaml"/>
			<param name="alsologtostderr" value="true"/>
			<param name="datasource_type" value="rostopic"/>
			<param name="enable_visual_localization" value="false"/>
			<param if="0" name="export_estimated_poses_to_csv" value="/home/nico/datasets/rovioli-e2e/ml_node.csv"/>
			<param name="map_output_folder" value="/home/nico/datasets/rovioli-e2e/map_localizer_fusion_run"/>
			<param name="map_save_on_shutdown" value="true"/>
			<param name="map_overwrite_enabled" value="true"/>
		</node>
	</group>

  <node if="1" name="rovioli" pkg="rovioli" type="rovioli" required="true" output="screen" clear_params="true">
		<!-- SENSORS AND CALIBRATION -->
		<param name="sensor_calibration_file" value="/home/nico/maplab_ws/src/maplab_private/applications/maplab_node/share/example_calibrations/euroc-mono.yaml"/>
		<!-- DATA SOURCE -->
		<param name="datasource_type" value="rostopic"/>
		<param name="rovioli_zero_initial_timestamps" value="false"/>
		<!-- MAP BUILDING -->
		<param name="rovioli_run_map_builder" value="true"/>
		<param name="save_map_folder" value="/home/nico/datasets/rovioli-e2e/map_localizer_fusion_run_rovioli"/>
		<param name="overwrite_existing_map" value="true"/>
		<param name="rovio_enable_frame_visualization" value="false"/>
	</node>

  <!-- Convert maplab_msgs to nav_msgs -->
  <node name="odometry_msg_remapping" pkg="odometry_msg_remapping" type="odometry_msg_remapping" output="screen">
  </node>

  <node if="1" pkg="robot_localization" type="ekf_localization_node" name="ekf_mlnode_imu" clear_params="true" output="screen">
    <rosparam command="load" file="$(find robot_localization)/params/ekf_mlnode_imu.yaml" />
    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_localization)/launch/ekf_mlnode_imu.rviz" />
</launch>
